{% extends "base.html" %}


{% block content %}
<div class="row">
  <div class="span12">
    <p>This site was inspired by <a href="http://spendingq.appspot.com">this
    site</a> which both of us implement Spending Quotient as described
    here: <a href="http://www.teamliquid.net/forum/viewmessage.php?topic_id=266019">"Do
    you macro like a pro?"</a></p>

    <p>I found the appspot one lacking. Mostly due to its reliance on flash,
    but also because it doesn't allow you to share your graph with your
    friends/the world without also giving them access to change it.</p>
  </div>
</div>
{% endblock content %}
