{% extends 'base.html' %}

{% block content %}
{% for profile in object_list %}
{% if forloop.first %}
<div class="row">
  <div class="span6 well">
    <table class="table">
      <thead>
        <tr>
          <td>User</td>
          <td>Entries</td>
          <td>Average SQ</td>
        </tr>
      </thead>
      <tbody>
{% endif %}
        <tr>
          <td><a href="{{ profile.get_graph_url }}">{{ profile.user.username }}</a></td>
          <td>{{ profile.dp_count }}</td>
          <td>{{ profile.sq_avg|floatformat:"2" }}</td>
        </tr>
{% if forloop.last %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}
{% endfor %}
{% endblock content %}
