{% extends "base.html" %}
{% load url from future %}


{% block content %}
<div class="row-fluid">
  <div class="span8 offset2 well">
    <p>This is a site for calculating and graphing
    your <a href="http://wiki.teamliquid.net/starcraft2/Spending_quotient">Spending
    Quotient</a> which is a way to track your macro ability. You'll start by
    logging in the top right. Then go the "My Graph" and you can enter your
    average unspent resources and collection rate from the score screen. This
    will plot a single point on the graph, once you get a couple points plotted
    you'll be able to see if you are getting better (going up) or worse (going
    down) at macro!</p>
  </div>
</div>
{% endblock content %}
