<!doctype html>
<html>
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" type="text/javascript"></script>
    {{ browserid_form.media }}
  </head>
  <body>
    {% if not user.is_authenticated %}
    <a id="browserid" href="#">Sign In</a>
    <form method="POST" action="{% url browserid_verify %}">
      {% csrf_token %}
      {{ browserid_form.as_p }}
    </form>
    {% else %}
    <p>Hi, <a href="{% url profile pk=user.profile.id %}">{{ user.email }}</a></p>
    {% endif %}
    <div class="content">
      {% block content %}
      {% endblock content %}
    </div>
  </body>
<html>
